@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* ## Layout

    The designs were created to the following widths:

    - Mobile: 375px
    - Desktop: 1440px 
*/

:root {
    /* ### Primary */
    --very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
    --dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
    --soft-violet: hsl(277, 64%, 61%); /* (accent) */

    /* ### Neutral */
    --white: hsl(0, 0%, 100%); /* (main heading, stats) */
    --slightly-transparent-white1: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --slightly-transparent-white2: hsla(0, 0%, 100%, 0.6); /* (stat headings) */

    /* ### Fonts */
    --font1: 'Inter', sans-serif;
    --font2: 'Lexend Deca', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

body {
    height: 97vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-dark-blue);
}

.container {
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    height: 100%;
    width: 375px;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-desaturated-blue);
    border-radius: 10px;
}

.container > * {
    flex: 1 1 auto;
}

.img-container {
    background-color: hsl(277, 75%, 35%);
    height: 30%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.img {
    background: url(../images/image-header-mobile.jpg) no-repeat;
    background-size: cover;
    opacity: 40%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

h1 {
    font-family: var(--font2);
    color: var(--white);
    font-size: 30px;
    text-align: center;
    margin: 40px 35px 20px;
}

h2 {
    font-family: var(--font2);
    text-align: center;
}

strong {
    font-family: var(--font2);
    color: var(--soft-violet);
    font-size: 30px;
}

p {
    font-family: var(--font1);
    color: var(--slightly-transparent-white2);
    text-align: center;
    font-weight: 200;
    line-height: 25px;
    margin: 0 50px 30px;
}

.numeros {
    font-family: var(--font1);
    font-size: 30px;
    color: var(--white);
}

.tipos {
    font-size: 0.8em;
}

/* Footer */
.attribution { 
    font-size: 1em; text-align: center;
    color: var(--white);
}

.attribution a { 
    color: var(--soft-violet);
    text-decoration: none;
}

.attribution a:hover { 
    color: var(--slightly-transparent-white2);
    text-decoration: underline;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1100px;
        height: 580px;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    
    .img-container {
        height: 100%;
        order: 2;
        border-radius: 0 10px 10px 0;
    }

    .img {
        border-radius: 0 10px 10px 0;
    }
    
    .texto {
        display: flex;
        max-width: 606px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .texto h1, .texto strong {
        font-size: 45px;
    }

    .texto p {
        font-size: 20px;
    }    
}